-
  const handles = [
    {
      href: 'mailto:siddheshn19@gmail.com',
      icon: 'fas fa-envelope',
      target: '',
      text: 'siddheshn19@gmail.com'
    },
    {
      href: 'tel:+918233712380',
      icon: 'fas fa-address-book',
      target: '',
      text: '+91-8233712380'
    },
    {
      href: 'https://in.linkedin.com/in/siddhesh-nachane',
      icon: 'fab fa-linkedin',
      target: '_blank',
      text: 'siddhesh-nachane'
    },
    {
      href: 'https://github.com/CodeMogul',
      icon: 'fab fa-github',
      target: '_blank',
      text: 'codemogul'
    }
  ] 

header.grid
  div
    h1 Siddhesh Nachane 
    p Senior Software Engineer
    p.light Bangalore, India

  ul.contact-info
    each handle in handles
      li 
        a(href=handle.href, target=handle.target)
          i(class=handle.icon)
          = ` ${handle.text}` 