-
  const skills1 = [
    'React',
    'Javascript',
    'Fastify',
    'Ruby on Rails',
    'Postgres',
    'Python',
    'Docker',
    'Webpack',
    'AWS (S3 / Lambda / EC2 / RDS)'
  ]

  const skills2 = [
    'System Design',
    'Team Building',
    'Mentorship',
    'Critical Thinking'
  ]

section.skills 
  h2 Key Skills

  h3 Frameworks | Tools
  ul 
    each skill in skills1 
      li= skill

  h3 Other Skills
  ul 
    each skill in skills2
      li= skill
