-
  const skills1 = [
    'React',
    'Javascript',
    'Ruby on Rails',
    'Python',
    'AWS S3'
  ]

  const skills2 = [
    'Debugging',
    'System Design',
    'Mentorship',
    'Collaboration'
  ]

section.skills 
  header Technologies & Skills

  ul 
    each skill in skills1 
      li= skill

  ul 
    each skill in skills2
      li= skill