* {
  margin: 0;
  padding: 0;
  --main-color: #33d399;
  --contrast-color: #d37633;
  --primary-color: #4f4f4f;
  --secondary-color: #767171;
}

html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  font-family: lft-etica, sans-serif;
  margin: 0 auto;
  background-color: #e4ebf1;
  color: var(--primary-color);
}

.container {
  background-color: white;

  padding: 2rem;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--main-color);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 8px;
}

.contact-info {
  margin-top: 1.5rem;
  list-style: none;
  padding: 0;
}

.flex-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 2rem;
}

section > article {
  margin-bottom: 1.75rem;
}

section > article:last-child {
  margin-bottom: 0;
}

section:last-child {
  margin-bottom: 0;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

ul {
  margin: 0.8rem 0 0;
  padding-left: 24px;
}

li {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

svg {
  margin-right: 8px;
}

.skills ul {
  margin: 0.6rem 0;
  list-style: none;
  padding: 0px;
}

.skills li {
  padding: 4px 8px;
  margin: 4px;
  border: 1px solid #33d399;
  display: inline-block;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }

  .contact-info {
    margin: 0;
  }

  .container {
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175);
    border: 1px solid rgba(0,0,0,0.025);
    padding: 4rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 24px;
  }

}

@media print {
  html {
    font-size: 14px;
  }

  .container {
    padding: 4rem;
  }

  body {
    background-color: white;
  }

  .contact-info {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 24px;
  }

  .page-break {
    page-break-after: always;
  }
}

.light {
  color: #767171;
}

.contrast {
  color: var(--contrast-color);
}

.green {
  color: #33d399;
}
